html,
body {
    padding: 0;
    margin: 0;
}

header {
    background-color: purple;
    height: 60px;
    grid-area: header;
}

nav {
    background-color: beige;
    
    grid-area: menu;

}

#container {
    background-color: aquamarine;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'menu content content content'
    'footer footer footer footer';
}

article {
    background-color: aquamarine;
width: auto;
    height: 80px;
}

footer {
    /*clear: both;*/
    background-color: violet;
    height: 120px;
    grid-area: footer;
}