html,body {
    padding: 0;
    margin: 0;
}
header {
    background-color: purple;
    height: 60px;
}
nav{
    background-color: beige;
    width: 25%;
   
}
section{
    display: flex;
    background-color: darkcyan;
    overflow: hidden;
    flex-direction: row-reverse;
    
}
#container {
    background-color: aqua;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
article{
    background-color: aquamarine;
  
    width: 75%;
    height: 80px;
}
footer{
    clear: both;
    background-color: violet;
    height: 120px;
}